/* For webkit-based browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body{
   
}

.credit-card-input {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.credit-card-input:focus {
  border-color: #188fff;
  box-shadow: 0 0 0 2px rgba(24, 143, 255, 0.2);
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #edf9fe;
}